@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .background-clip{
    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 100%);
    transition: clip-path .25s;
  }

  .background-clip-hover{
    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 60%);
  }
}

html::-webkit-scrollbar{
    display: none;
}

html{
    scrollbar-width: none;
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

.item{
    transition: transform .3s ease-out;
}

.carousel-container:focus-within .item,
.carousel-container:hover .item {
  transform: translateX(-6%);
}

.item:focus ~ .item,
.item:hover ~ .item {
  transform: translateX(6%);
}
